h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
  .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 1.19em;
    font-weight: bold;
}

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

h1 small, .h1 small {
  font-size: 24px; }

h2 small, .h2 small {
  font-size: 18px; }

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: 14px; }

.navbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1),0 1px 0 0 rgba(0,0,0,.1);
}

.navbar-inner {
    background-color: #fff;
}

.navbar .nav > li > a {
    padding: 10px;
}

.sidebar .nav-list > li > a {
    font-weight: 400;
    padding: 4px 12px 4px;
}

.sideicon {
  position: fixed;
  background-color: #3498db;
  height: 100%;
  top: 28px;
  overflow: hidden;
}

.navbar .brand {
    padding: 6px;
}

.iconbar > ul > li > a {
  padding: 0px 22px 30px;
  font-size: 1.78em;
}

.navbar .navbar-search {
    padding: 2px;
}

.grey-text {
    color: rgb(153, 153, 153);
}

.logo {
    left: 50%;
    margin-top: 2px;
    position: absolute;
    top: 2px;
}

.sidebar {
    top: 42px;
    bottom:0; 
    overflow: auto;
    overflow-x: hidden;
}

@media (max-width: 979px) {
    .sidebar {
      display: none;
    }
}

.sidebar .nav-list > li {
  margin-bottom: -4px;
}

.masonry-brick {
    margin: 3px 4px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0 1px 0 rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    overflow: hidden;
    width: 226px;
    padding: 10px; 
    padding-left: 14px;
}

.alert-view {
  position: fixed;
  top: 48px;
  right: 10px;
  width: 268px;
}

.alert {
  font-size: 14px;
}

.brick-feed-title {
    width: 70%;
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.media-popular-box {
    height: 180px;
    width: 266px;
    text-align: center;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-bottom: 10px;
}

.main {
    margin-top: 58px;
}

.arrow_box {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 6%;
  height: 0;
  background: #fff;
  border-radius: 6px;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
  border-right-color: #fff;
  border-width: 11px;
  margin-top: -62px;
}
.arrow_box:before {
  border-right-color: #bdc3c7;
  border-width: 14px;
  margin-top: 6px;
}

.undertitle {
  margin-top: -7px;
}

.favicon {
    margin: 2px 0 4px 0;
    width: 16px;
    border-radius: 10px;
}

.info-box {
    text-align: right; 
    float:right; 
}

.iconbar-unread {
  background-color: #2a7aaf;
  border-radius: 50%;
  color: #ffffff;
  font-size: 9px;
  font-weight: 500;
  line-height: 18.998px;
  min-width: 14px;
  padding: 0 2px;
  position: absolute;
  right: auto;
  top: 12px;
  -webkit-font-smoothing: auto;
}

.article .star {
  margin-left: -23px;
  position: absolute;
  margin-top: -2px;
}

.article .media {
    max-width: 600px;
    max-height: 300px;
    margin: 6px 0;
    height: auto; 
    width: auto;
}

@media (max-width: 979px) {
    .article .divmedia {
      text-align: center;
    }
}

.panel-footer .btn.btn-mini {
  padding: 5px 8px 5px;
}

.article-article p {
    font-size: 13.8px;
    line-height: 18.4167px; 
    font-family: Arial;
}

.article-article ul {
    list-style: none outside none;
}

.article-article li {
    display: inline-block;
}

.article-article h1 {
    font-size: 15px;
}

.article-article h2 {
    font-size: 15px;
}

.article-article h3 {
    font-size: 15px;
}

.article-article h4 {
    font-size: 15px;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0 1px 0 rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
  /*max-width: 780px;*/
  /*margin: 0 auto;*/
}

.panel-body {
  padding: 15px;
  padding-left: 30px;
  overflow: hidden;
}

.panel-body h4 {
  margin-top: 0;
}

.panel-body:before,
.panel-body:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.panel-body:after {
  clear: both;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table {
  margin-bottom: 0;
}
.panel > .panel-body + .table {
  border-top: 1px solid #dddddd;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-warning {
  border-color: #fbeed5;
}
.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fbeed5;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #fbeed5;
}
.panel-danger {
  border-color: #eed3d7;
}
.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eed3d7;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eed3d7;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}

.panel-heading > h3 {line-height:20px;}

.ngProgressLite {
        pointer-events: none;
}

.ngProgressLiteBar {
        background: #29d;
        position: fixed;
        z-index: 100;
        top: 41px;
        left: 0;
        height: 2px;
}

.ngProgressLite .ngProgressLiteBarShadow {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #29d, 0 0 5px #29d;
        opacity: 1;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
}

.arrow_box .ng-enter {
  animation: fadeInRight 1s;
}

.arrow_box .ng-leave {
  animation: fadeInRight 1s;
}
